<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="w3.css">
    <title><%= generalInfo.companyNameShort %> <%= generalInfo.companyNameLong %></title>
</head>

<body>
    <%- include('tiles/navbar') %>
    <%- include('tiles/header') %>
    <!-- page contect  -->
    <div class="w3-content w3-padding" style="max-width:1564px">
        <%- include('tiles/products') %>
        <%- include('tiles/about') %>
    </div>
    <%- include('tiles/footer') %>

</body>

</html>